.App {
  text-align: center;
  font-weight: lighter;
}
.h1 {
  font-weight: lighter;
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* border: rgb(25, 0, 255) solid 2px; */
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  width: 500px;
  height: 30px;
  background-color: rgb(119, 136, 153, 0.1);
  font-size: 14px;
  color: black;
  border: none;
  margin-bottom: 10px;
}
.ligne {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  width: 800px;
  height: 40px;
  background-color: rgb(238, 238, 238);
  border: rgb(211, 211, 211) solid 0.1px;
}
.symbol {
  height: 30px;
  width: 30px;
}
.title {
  width: 200px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  padding-top: 30px;
}
